/* Global Styles */
.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4f4f9;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #333;
    color: #fff;
  }
  
  .navbar-brand {
    font-weight: bold;
    cursor: pointer;
    
    h2{
      font-size: 1.5rem;
    }
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;

    li {
      cursor: pointer;
      color: #ddd;
      transition: color 0.3s;

      .icon{
        font-size: 1.5rem;
        margin-right: 1rem;
        margin-top: -0.1rem;
      }
    }
  }
  